APP_NAME=JagoBelajar
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Asia/Jakarta
APP_URL=http://localhost

APP_LOCALE=id
APP_FALLBACK_LOCALE=id
APP_FAKER_LOCALE=id_ID

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=jagobelajar_db
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
CACHE_STORE=file

MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@jagobelajar.test"
MAIL_FROM_NAME="${APP_NAME}"

IRT_QUIZ_EXAM_SESSIONS_ENDPOINT=http://127.0.0.1:8001/api/public/exam-sessions

IRT_QUIZ_BASE_URL=http://127.0.0.1:8001

IRT_QUIZ_EXAM_SESSION_REGISTER_ENDPOINT=http://127.0.0.1:8001/api/public/exam-sessions

MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_IS_SANITIZED=true
MIDTRANS_IS_3DS=true

IRT_QUIZ_PREMIUM_REGISTER_ENDPOINT=http://127.0.0.1:8001/api/public/exam-sessions
